#app {
  .main-container {
    min-height: 100%;
    transition: margin-top .28s;
    margin-top: 60px;
    position: relative;
  }

  .sidebar-container {
    transition: height 0.28s;
    height: var(--top-bar-height) !important;
    background-color: #3498db;
    width: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    overflow: hidden;

    .horizontal-collapse-transition {
      transition: 0s height ease-in-out, 0s padding-top ease-in-out, 0s padding-bottom ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      width: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        width: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a.link {
      display: inline-block;
      height: 100%;
      overflow: hidden;
    }

    .svg-icon {
      flex-shrink: 0;
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-sub-menu__title {
      &:hover {
        background-color: #1e5b83 !important;
      }
    }

    .is-active>.el-sub-menu__title {
      color: var(--sub-menu-active-text) !important;
    }

    & .nest-menu .el-sub-menu>.el-sub-menu__title,
    & .el-sub-menu .el-menu-item {
      min-height: var(--top-bar-height) !important;
      background-color: #1e5b83 !important;

      &:hover {
        background-color: #1e5b83 !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      height: 54px !important;
    }

    .main-container {
      margin-top: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;
      .text-one-added {
        display: none;
      }

      .el-tooltip {
        padding: 0 !important;
      }

      .svg-icon {
        margin-top: 20px;
      }

      .sub-el-icon {
        margin-top: 19px;
      }
    }

    .el-sub-menu {
      overflow: hidden;

      &>.el-sub-menu__title {
        padding: 0 !important;
        margin-left: 10px;
        .svg-icon {
          margin-top: 20px;
        }

        .sub-el-icon {
          margin-top: 19px;
        }

        .el-sub-menu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-sub-menu {
        &>.el-sub-menu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-sub-menu {
    min-width: var(--side-bar-width) !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: var(--side-bar-width) !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(calc(0% - var(--side-bar-width)), 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }

      .sub-el-icon {
        margin-right: 12px;
        margin-left: -2px;
      }
    }

    .nest-menu .el-sub-menu > .el-sub-menu__title,
    .el-menu-item {
      .text {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        background-color: #1e5b83 !important;
      }
    }

    > .el-menu--popup {
      max-width: 100vw;
      overflow-x: auto;

      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }

      &::-webkit-scrollbar {
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }

.el-sub-menu__title{
  margin-left: 5px;
}
